@font-face {
  font-family: "SF-Pro-Black";
  font-weight: 900;
  src: url("fonts/SF-Pro-Display-Black.otf") format("opentype");
}

@font-face {
  font-family: "SF-Pro-Bold";
  font-weight: 700;
  src: url("fonts/SF-Pro-Display-Bold.otf") format("opentype");
}

@font-face {
  font-family: "SF-Pro-Semibold";
  font-weight: 600;
  src: url("fonts/SF-Pro-Display-Semibold.otf") format("opentype");
}

@font-face {
  font-family: "SF-Pro-Medium";
  font-weight: 500;
  src: url("fonts/SF-Pro-Display-Medium.otf") format("opentype");
}

@font-face {
  font-family: "SF-Pro-Regular";
  font-weight: 400;
  src: url("fonts/SF-Pro-Display-Regular.otf") format("opentype");
}

@font-face {
  font-family: "SF-Pro-Light";
  font-weight: 300;
  src: url("fonts/SF-Pro-Display-Light.otf") format("opentype");
}
